.collection-preview{
	font-family: "Open Sans Condensed";
	margin-top: 25px;
	&__title{
		margin: 15px 0;
	}
	&__preview{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1vw;
		width: 100%;
	}
}